[Unit]
Description=Youtube Auto Downloader

[Service]
ExecStart=/bin/bash /home/nathan/Documents/Github/tp-b1-linux/3/srv/yt/yt-v2.sh
User=nathan
Restart=always

[Install]
WantedBy=multi-user.target
